<<<<<<< HEAD
=======
body{
	background-size: 100%;
}
.backgroundImage{
	background-image: url(../assets/Light-Wood-Background.jpg);
}
#maincontainer{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 1000px;
}
#myNavBar{
	padding-left: 7%;
	opacity: 0.8;
    filter: alpha(opacity=40);
	background-color: #AF7700;
	border: solid black 1px;
}
#wrapper{
	margin: 0 auto;
	background-color: #A47E46;
	width: 60%;
	opacity: 0.8;
    filter: alpha(opacity=40);
    border: inset #8C5B32 2px;
}
#topLogo{
	margin: 0 auto 1%;
	background: url('../assets/logo-old.jpg') no-repeat;
	background-size: 100%;
	height: 8em;
	width: 7em;
}
.Popular{
	margin-top: 3em;
	background-color: transparent;
#video{
	margin-left: auto;
	margin-right: auto;
	width: 560px;
	height: 316px;
}
a{
	text-decoration: none;
	color:white;
}
a:hover{
	color:#A1FF65;
	text-decoration: none;
}
.orderForm{
	opacity: 1;
	padding-top: 2em;
	color: #9E0A16;
}
.history{
	font-size: 1.2em;
	color: black;
	font-weight: 1.2em;
>>>>>>> FETCH_HEAD
}
