
body{
	background-size: 100%;
}
/*body{
	background-color: #FFFCCA;
	color: white;
}*/
.centerContent{
	background-color: blue;
	margin: -10px auto 0;
	width: 80%;
	border: solid white 1px;
	text-align: center;
}
.mainContent{
	width: 100%;
	height: 2000px;
}
.hopper{
	z-index: 4;
	background-color: white;
	padding-top: 0px;
	margin-left: 17%;
}
.bakersDozen h3{
	color:white;
}
.top{
		border-bottom:solid white 1px;
}
.hopper li{
	float: left;
	list-style: none;
	color: #F5F5F5;
	padding-bottom: 14px;
	padding-top: 0;
	padding-left: 10%;
	padding-right: 0;
	font-weight: 500;
	font-size: 20px;
}
.bakersDozen{
	position: relative;
}
.pushDown{
		margin-top: 100px;
}
.backgroundImage{
	background-image: url(../assets/Light-Wood-Background.jpg);
}
#maincontainer{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 1000px;
}
#myNavBar{
	padding-left: 7%;
	background-color: #AF7700;
	border: solid black 1px;
	opacity: .8;
}
#huntersNavBar{
	width: 85%;
	margin: 0 auto 3em;
}
img{
	height: 5em;
	width: 5em;
}
#wrapper{
	margin: 0 auto;
	background-color: #A47E46;
	width: 60%;
    border: inset #8C5B32 2px;
    color: #FFF;
}
#topLogo{
	margin: 0 auto 1em;
	background: url('../assets/logo-old.jpg') no-repeat;
	background-size: 100%;
	height: 5em;
	width: 5em;
}
.Popular{
	margin-top: 2em;
	color: #F3B814;
}
.Popular input{
	color: black;
}
#video{
	margin-left: auto;
	margin-right: auto;
	width: 560px;
	height: 316px;
}
a{
	text-decoration: none;
	color:white;
}
a:hover{
	color:#A1FF65;
	text-decoration: none;
}
.orderForm{
	opacity: 1;
	padding-top: 2em;
	color: #9E0A16;
}
.history{
	font-size: 1.2em;
	color: black;
	font-weight: 1.2em;

}
